:root{
    --main-color: #F5D9E2;
    --earBlack-color: #000000;
    --eye-color: #76D7C4;
    --iris-color: #1ABC9C;
    --pupil-color: #ffffff;
    --only-black: rgb(0, 0, 0);
    --tonge-color: #f02720;
}

body{
    color: antiquewhite;

}

div.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div.pokemon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 900px;
    border: 2px solid red;

}

div.head{
    height: 300px;
    width: 300px;
    /*background-color: var(--main-color);*/
    -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
    border-radius: 1px solid red;
    position: absolute;
    border-radius: 50%;
}

div.ears{
    
    
}

div.ear1{
    position: absolute;
    left: -20px;
    top:-20px;
    width: 0px;
    height: 0px;
    border-right: 70px solid transparent;
    border-left: 70px solid transparent;
    border-top: 100px solid var(--main-color);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    transform: rotate(30deg);
   
}

div.ear11{
    position: absolute;
    left: -20px;
    top:-12px;
    width: 0px;
    height: 0px;
    border-right: 70px solid transparent;
    border-left: 70px solid transparent;
    border-top: 100px solid var(--main-color);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 35%;
    transform: rotate(-85deg);
}

.ear1black{
    position: absolute;
    left: -4px;
    top:-10px;
    width: 0px;
    height: 0px;
    border-right: 54px solid transparent;
    border-left: 54px solid transparent;
    border-top: 84px solid var(--earBlack-color);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    transform: rotate(-85deg);
}



div.ear2{
    position: absolute;
    right: -20px;
    top:-20px;
    width: 0px;
    height: 0px;
    border-right: 70px solid transparent;
    border-left: 70px solid transparent;
    border-top: 100px solid var(--main-color);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    transform: rotate(110deg);
   
}

div.ear22{
    position: absolute;
    right: -20px;
    top:-12px;
    width: 0px;
    height: 0px;
    border-right: 70px solid transparent;
    border-left: 70px solid transparent;
    border-top: 100px solid var(--main-color);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 35%;
    transform: rotate(-18deg);
}


.ear2black{
    position: absolute;
    right: 0px;
    top:-15px;
    width: 0px;
    height: 0px;
    border-right: 55px solid transparent;
    border-left: 55px solid transparent;
    border-top: 85px solid var(--earBlack-color);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    transform: rotate(98deg);
}


.body{
    width: 300px;
    height: 300px;
    -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: var(--main-color);
     position: relative;
     z-index: 50;
    
}


.eyes{
    position: relative;
    top: 80px;
}

.eye1{
    position: absolute;
    background: var(--pupil-color);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    left: 40px;
    border: 1px solid var(--only-black);

}


.lefteye{
    width: 80px;
    height: 80px;
    background: #76D7C4;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 5px;
    border: 1px solid var(--only-black);
}

.lefteye .iris{
    height: 70px;
    width: 70px;
    position: absolute;
    right: 0;
    border-radius: 50%;
    background: #1ABC9C;
}

.lefteye .iris .pupil{
    height: 20px;
    width: 20px;
    position: absolute;
    right: 10px;
    top: 6px;
    border-radius: 50%;
    background: var(--pupil-color);
    border: 1px solid var(--only-black);
}


.eye2{
    position: absolute;
    background: var(--pupil-color);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    right: 40px;
    border: 1px solid var(--only-black)

}

.righteye{
    width: 80px;
    height: 80px;
    background: #76D7C4;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 5px;
    border: 1px solid var(--only-black);
}

.righteye .iris{
    height: 70px;
    width: 70px;
    position: absolute;
    left: 0;
    border-radius: 50%;
    background: #1ABC9C;
}

.righteye .iris .pupil{
    height: 20px;
    width: 20px;
    position: absolute;
    left: 10px;
    top: 6px;
    border-radius: 50%;
    background: var(--pupil-color);
    border: 1px solid var(--only-black);
}



.mouth{
    width: 70px; 
    height: 70px; 
    border: 2px solid #555; 
    background: var(--only-black);
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 200px 200px 0 0;
    position: relative;
    left: 110px;
    right: 0;
    top: 190px;
    transform: rotate(180deg);
    
    
}

.tongue{
    width: 50px; 
    height: 52px;  
    background: var(--tonge-color);
    -moz-border-radius: 0 100% 0 0;
    -webkit-border-radius: 0 100% 0 0;
    border-radius: 0 100% 0 0;
    position: relative;
    top: 12px;
    left: 10px;
    transform: rotate(150deg);
    z-index: 30;
}

.tongue2{
    width: 72px; 
    height: 40px; 
    background: var(--tonge-color);
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 200px 200px 0 0;
    position: absolute;
    left: 4px;
    right: ;
    top: 0px;
    transform: rotate(16.5deg);
    
}