:root{
    --main-color: #F5D9E2;
}

body{
    color: antiquewhite;

}

div.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div.pokemon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 900px;
    border: 2px solid red;

}

div.head{
    height: 300px;
    width: 300px;
    /*background-color: var(--main-color);*/
    -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
    border-radius: 1px solid red;
    position: absolute;
    border-radius: 50%;
}

div.ears{
    
    
}

div.ear1{
    position: absolute;
    left: -20px;
    top:-20px;
    width: 0px;
    height: 0px;
    border-right: 70px solid transparent;
    border-left: 70px solid transparent;
    border-top: 100px solid var(--main-color);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    transform: rotate(30deg);
   
}

div.ear11{
    position: absolute;
    left: -20px;
    top:-12px;
    width: 0px;
    height: 0px;
    border-right: 70px solid transparent;
    border-left: 70px solid transparent;
    border-top: 100px solid var(--main-color);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 35%;
    transform: rotate(-85deg);
}

.ear1blac{

}